<head>
    <LINK REL=StyleSheet HREF="styleindex.css" TYPE="text/css">
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>

<fieldset style="border:double; align:center;">

<h1>INDEX</h1><br><hr>
    <a HREF="cv1.html">~~~~~~~~~ CV 1 ~~~~~~~~~</a>
    <br>
    <a HREF="cv2.html">~~~~~~~~~ CV 2 ~~~~~~~~~</a>
</fieldset>
</body>