body {
  background-color: ghostwhite;
  text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color: green;
    text-align: center;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: blueviolet;
}