body {
  background-color: yellowgreen;
}

h1 {
    font-family: HelveticaNeue;
    font-size: 50px;
    color: whitesmoke;
    text-align: right;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
}

h3 {
    font-family: HelveticaNeue;
    font-size: 20px;
    color: whitesmoke;
    text-align: right;
}

h4 {
    font-family: Calibri;
    font-size: 16px;
    color: whitesmoke;
    text-align: left;
}

p {
    font-family: Georgia;
    font-size: 18px;
    text-align: center;
    color: black;
}

li {
    font-family: Georgia;
    font-size: 18px;
    text-align: left;
}

tr {
    font-family: Georgia;
    font-size: 16px;
    text-align: left;
    border: double;
}